@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
	overflow-y: scroll; 
	/* scroll-behavior: smooth;
	scroll-snap-type: y mandatory; */
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

::before { font-family: FontAwesome; }

h1 {
  padding: 10px 0 30px;
  font-size: 30px;
}

.to-do-list {
	width: 40%;
	margin: 0 auto;
} 
	
.input-box {
	width: 100%;
	display: flex;
	align-items: center;
}

input[type="text"] {
	width: 100%;
	padding: 10px 0;
	-webkit-box-shadow: 5px 5px 15px #888;
	box-shadow: 5px 5px 15px #888;
}

.clear {
	margin-left: 15px;
	text-indent: -9999px;
}

.clear::before {
	content: "\f021";
	float: right;
	color: #000;
	font-size: 24px;
	text-indent: 0;
	transition: all .5s ease-in-out;
}

.clear:hover::before { color: red;}
.input-content { width: 92%; }

.todo-list {
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 5px 5px 15px #888;
	box-shadow: 5px 5px 15px #888;
}

.item { 
	padding: 10px 5px; 
	opacity: 1;
}

.drag-li {
	background: #ccc;
	opacity: .5;
}

/* add remove buttons */
.remove { 
	padding: 5px;
	float: right;
  color: red; 
}

.done-todo { text-decoration: line-through; }  

.done-sign { 
  width: 15px;
  height: 15px;
  position: relative; 
  appearance: none;
}

.done-sign:checked {
  background: transparent;
}

.done-sign:checked::after {
  content: "\2713";
  left: 50%;
  top: 50%;
  color: green;
  font-size: 16px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.control-block {
  padding: 10px 5px;
  background: #ccc;
  color: #fff;
}

.control-block span { margin-right: 10px; }